<!-- Intro Header -->
<md-card class="intro draggable">
    <div class="minimize-icon only-app no-drag">
        <a href="#minimize" id="minimize-app" alt='minimize'>
            <i class="fa fa-minus"></i>
        </a>
    </div>
    <div class="close-icon only-app no-drag">
        <a href="#close" id="close-app" alt='close'>
            <i class="fa fa-close"></i>
        </a>
    </div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 offset">
                    <div id="lamp"></div>
                    <div class="switch no-drag" id="toggle-lights">
                        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" disabled="disabled" type="checkbox">
                        <label for="cmn-toggle-1"></label>
                    </div>
                    <h1 class="brand-heading logo">
                        Lightswitch
                    </h1>
                    <p id="connectStatus"></p>
                    <!-- <a id="connectStatus" href="#authenticate" class="btn btn-circle page-scrollconnectStatus">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a> -->
                    <p id="manualbridgeip" class="no-drag">
                        <input class="bridgeip input" placeholder="Enter the bridge IP..." />
                        <button class="submit" name="Find" type="submit" id="findbridge" value="Find">Find</button>
                    </p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</md-card>

<!--fa-toggle-off -->

            @*<md-list class="nav nav-tabs nav-justified" role="tablist">
                    <md-item role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">
                            <i class="fa fa-gear"></i>
                            <b class="not-pro">&nbsp; Lights</b>
                        </a>
                    </md-item>
                    <md-item role="presentation" class="config-moods">
                        <a href="#moods" role="tab" data-toggle="tab">
                            <i class="fa fa-paint-brush"></i>
                            <!--Moods-->
                            <b class="not-pro">
                                &nbsp;
                                Scenes
                            </b>
                        </a>
                    </md-item>
                    <md-item role="presentation" class="config-colors">
                        <a href="#colors" role="tab" data-toggle="tab">
                            <!--Colors-->
                            <i class="fa fa-eyedropper"></i>
                            <b class="not-pro">
                                &nbsp;
                                Colors
                            </b>
                        </a>
                    </md-item>
                    <md-item role="presentation" class="config-search">
                        <a href="#search" role="tab" data-toggle="tab">
                            <i class="fa fa-binoculars"></i>
                            <b class="not-pro">
                                &nbsp;
                                Search
                            </b>
                        </a>
                    </md-item>
                    <md-item role="presentation" class="config-ambieye">
                        <a href="#eye" role="tab" data-toggle="tab">
                            <i class="fa fa-eye"></i>
                            <b class="not-pro">&nbsp;Ambience</b>
                        </a>
                    </md-item>
                    <md-item role="presentation" class="config-feedback">
                        <a href="#subscribe" role="tab" data-toggle="tab">
                            <i class="fa fa-paper-plane"></i>
                            <b class="not-pro">
                                &nbsp;
                                Feedback
                            </b>
                        </a>
                    </md-item>
                    <!--

                    <li role="presentation"><a href="#feedback" role="tab" data-toggle="tab">
                      <i class="fa fa-comment"></i>
                    </a></li>
                    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab"><i class="fa fa-cog"></i>
                    -->
                    <!-- <span class="glyphicon glyphicon-cog"></span> -->

                </md-list>

                    <md-content id="controls" class="container">
    </md-content>
            *@

<!-- Tab panes -->
    <md-card role="tabpanel-boot-boot" class="tab-pane fade in active" id="home">
        <div class="panel-body">

            <h5>Brightness</h5>
            <!--<a class="link-btn command" href="#darken" title="Darken">-</a>
            <a class="link-btn command" href="#brighten" title="Brighten">+</a>-->
            <div class="pane-body">
                <div>
                    <input id="brightness-control" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="254" data-slider-tooltip="hide" />
                </div>
            </div>
            <h5>Groups <a id="make-group" href="#"><i class="fa fa-pencil"></i></a></h5>
            <div id="create-group">
                <p id="group-name">
                    <input class="groupname input" placeholder="Enter group name..." />
                    <button class="submit" name="Add" type="submit" id="add-group" value="Add">Add</button>
                </p>
                <div id="group-add-lamps"></div>
                <div id="group-remove"></div>
            </div>
            <div id="groups"></div>
            <h5>Lamps</h5>
            <div id="lamps"></div>
            <h5>Links</h5>
            <div class="pane-body">
                <a href="https://www.facebook.com/virtual.lightswitch" target="_blank">
                    <i class="fa fa-facebook"></i> facebook  »
                </a>  &nbsp;
                <a href="https://twitter.com/huelightswitch" target="_blank">
                    <i class="fa fa-twitter"></i> twitter »
                </a>  &nbsp;
                <a href="http://bit.ly/lightswitchhue" target="_blank">
                    <i class="fa fa-shopping-cart"></i> Philips Hue  »
                </a>
            </div>
            <div class="pane-body applinks only-pro">
                <a href="https://chrome.google.com/webstore/detail/lightswitch-for-philips-h/ahcbfmbmpojngalhbkkggbfamgmkneoo/reviews" target="_blank">
                    <i class="fa fa-toggle-on"></i> Reviews »
                </a>&nbsp;
                <a href="http://bit.ly/shinehue" target="_blank">
                    <i class="fa fa-eye"></i> Shine »
                </a>&nbsp;
                <a href="https://apistarter.uservoice.com/" target="_blank">
                    <i class="fa fa-life-bouy"></i> Help »
                </a>
            </div>

            <div class="pane-body applinks only-app">
                <a href="https://chrome.google.com/webstore/detail/shine-for-philips-hue/ahhkdhdkelfamkepplgbeidokokhokbp/reviews" target="_blank">
                    <i class="fa fa-toggle-on"></i> Reviews »
                </a>&nbsp;
                <a href="http://bit.ly/ambieye" target="_blank">
                    <i class="fa fa-eye"></i> Ambieye »
                </a>&nbsp;
                <a href="https://apistarter.uservoice.com/" target="_blank">
                    <i class="fa fa-life-bouy"></i> Help »
                </a>
            </div>
        </div>
    </md-card>
    <md-card role="tabpanel-boot" class="tab-pane fade in" id="moods">
        <div class="panel-body">
            <h5>Dynamic scenes</h5>
            <div class="scene" data-scene="Broadway"></div>
            <div class="scene" data-scene="Sunrise"></div>
            <div class="scene" data-scene="Sunset"></div>
            <div class="scene" data-scene="Coffee"></div>
            <div class="scene" data-scene="GreenForest"></div>
            <div class="scene" data-scene="Disco"></div>
            <div class="scene" data-scene="Romantic Red"></div>
            <div class="scene" data-scene="Police"></div>
            <h5>Holiday scenes</h5>
            <div class="scene" data-scene="NewYears"></div>
            <div class="scene" data-scene="Christmas"></div>
            <div class="scene" data-scene="Thanksgiving"></div>
            <!--<div class="scene" data-scene="TurkeyFeast"></div>
            <h5 class="colors-name">Morning</h5>
            <h5 class="colors-name">Daytime</h5>
            <h5 class="colors-name">Afternoon</h5>-->
            <br />
            <h5>Portal Scenes</h5>
            <div id="scenes"></div>
        </div>
    </md-card>

    <md-card role="tabpanel-boot" class="tab-pane fade in" id="colors">

        <div class="panel-body">
            <h5>Solid colors</h5>
            <div id="solid-palette">
                <div class="palette" data-palette="Kelvin degrees"></div>
                <div class="palette" data-palette="Fluorescents"></div>
                <div class="palette" data-palette="Rainbow"></div>
                <!--<div class="palette" data-palette="TurkeyFeast"></div>
                <div class="palette" data-palette="TurkeyDinner"></div>
                <div class="palette" data-palette="Rainbow"></div>-->
            </div>
            <!-- colorpicker element -->
            <div class="colorpicker">
                <canvas id="picker" var="1" width="100" height="100"></canvas>
                <canvas id="picker2" var="1" width="100" height="100"></canvas>
                <div id="rgbVal"></div>
            </div>
        </div>

    </md-card>

    <md-card role="tabpanel-boot" class="tab-pane fade in" id="subscribe">
        <div class="panel-body">
            <h5>Newsletter, feedback, ideas</h5>
            <div class="pane-body">
                Enter your email to be the first to know about new features &amp; releases:
            </div>
            <div id="newsletter_form">
                <form action="" method="post" class="subscribe-form" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" novalidate>
                    <input type="email" name="EMAIL" id="EMAIL" class="subscribe-input input" placeholder="Enter your e-mail address..." required="">
                    <button name="subscribe" type="submit" id="mc-embedded-subscribe" value="Subscribe" class="subscribe-submit submit">Notify Me</button>
                    <input type="text" style="display:none;" name="b_83c6f205a4379f5136e187d52_cad0da3b8a" tabindex="-1" value="">
                </form>
                <div class="successsubscribe">Thanks for subscribing, we will be in touch</div>
            </div>
            <div class="pane-body">
                You can <a href="mailto:apistarter@gmail.com" target="_blank">email privately</a>, and <a href="https://apistarter.uservoice.com/" target="_blank">publically</a>.

                <div class="not-app">

                    <div id="uservoice">
                        <div data-uv-embed="smartvote" data-uv-height="210px"></div>
                    </div>

                </div>
            </div>
            <div class="pane-body">
                <!--<br />Made with ♥ in New York City.-->
            </div>
        </div>
    </md-card>
    <md-card role="tabpanel-boot" class="tab-pane fade in" id="search">
        <div class="panel-body">
            <div class="search">
                <input type="text" name="colorsearch" id="colorsearch" class="input search-input" placeholder="Search colourlovers.com...">
                <button name="search" type="submit" id="search" value="search" class="search-submit submit">
                    <!--<i class="fa fa-search"></i>-->
                    Search
                </button>
                <div class="colorlovers shortcuts">
                    <a href="#search?top">top</a>
                    <a href="#search?new">new</a>
                    <a href="#search?random">random</a>
                    <a href="#search?back"><span aria-hidden="true">&larr;</span> back</a>
                    <a href="#search?next">next <span aria-hidden="true">&rarr;</span></a>
                    <b id="search-loading"><i class="fa fa-circle-o-notch fa-spin"></i></b>
                </div>
                <div class="search-results center">
                    <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                </div>
            </div>
        </div>
    </md-card>

    <md-card role="tabpanel-boot" class="tab-pane fade in" id="eye">

        <div class="panel-body">
            <div class="eye">
                <a href="#ambieyepermissions" id="ambieyepermissions" class="hightlight">
                    Grant permissions to enable Ambient lights
                </a>
                <div class="eye-enabled">
                    <div class="eye-switch" id="toggle-ambientweb-wrapper">
                        <input id="toggle-ambientweb" class="cmn-toggle cmn-toggle-round" type="checkbox">
                        <label for="toggle-ambientweb"></label>
                    </div>
                    <label for="toggle-ambientweb">
                        Enable Ambient Web Colors
                    </label>
                </div>
                <div class="web-preview">
                    <div class="eye-preview">
                        <img id="ambientpreview" />
                    </div>
                    <div class="preview-box"></div>
                    <div class="preview-box"></div>
                    <div class="preview-box"></div>
                </div>
            </div>
        </div>
    </md-card>
<md-card class="footer">
    <p class="intro-text">
        <!--
         — <a href="http://sadakov.com"  target="_blank">Dmitry Sadakov</a>
        -->
        <div class="only-light hidden">
            <a href="http://bit.ly/lightpro" target="_blank">
                <i class="fa fa-toggle-on"></i> Lightswitch Pro »
            </a> &nbsp;
            <a href="http://bit.ly/ambieye" target="_blank">
                <i class="fa fa-eye"></i> Ambieye »
            </a>
        </div>
        &copy; <time>2015</time> <a href="http://apistarter.com" target="_blank">API Starter</a>
    </p>
</md-card>


<!--
<span class="glyphicon glyphicon-chevron-up"></span>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full"
    width="60" height="60"
    viewBox="0 0 76.00 76.00"
    enable-background="new 0 0 76.00 76.00" xml:space="preserve">
    <path id="lamp-path" fill="#000000" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="
    M 42,50L 42,52L 34,54L 34,52L 42,50 Z
    M 42,53L 42,55L 34,57L 34,55L 42,53 Z
    M 40,56.5L 40,58L 36,58L 36,57.5L 40,56.5 Z
    M 42,49L 34,51C 34,51 34,48 32.2656,47C 32.2656,47 32.25,34 27.25,25C 27.25,25 25,19 38,19C 51,19 48.75,25 48.75,25C 43.75,34 44,47 44,47C 42,47 42,49 42,49 Z
    "/>
    <path id="lamp-color" fill="#333" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 38,30C
      41,30 44,30.5 44,30.5L
      46.25,26C
      48.5,21 42,21.0001 38,21C
      34,21 27.5,21 29.75,26L
      32,30.5C
      32,30.5 35,30 38,30 Z

      " />

</svg> -->
