@using AngularHue;
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security;
@using AngularHue.Models;
@using Microsoft.AspNet.Identity.Owin;


<div layout="column" layout-fill class="md-whiteframe-z2 webapp">


    <!-- main content -->
    <md-content flex class="home-content">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                @*<md-button class="menu-icon" aria-label="Profile" ng-click="toggleLeft()">
                    <div class="icon-navigation-white icon-navigation-white-ic_menu_white_24dp"></div>
                </md-button>*@
                <md-button ng-click="toggleLeft()" aria-label="Menu" style="min-width: 0;">
                    <ng-md-icon icon="menu"></ng-md-icon>
                    <div class="icon-navigation-white icon-navigation-white-ic_menu_white_24dp"></div>
                </md-button>
                @*
                    <button class="md-button md-default-theme" ng-transclude="" ng-click="toggleSidenav('left')" hide-gt-md="" aria-label="Menu" tabindex="0">
                        <ng-md-icon icon="menu" class="ng-scope"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 18h18v-2H3v2z"></path><path d="M3 13h18v-2H3v2z"></path><path d="M3 6v2h18V6H3z"></path></svg></ng-md-icon>
                        <div class="md-ripple-container"></div>
                    </button>
                *@
                <h3 class="logo">
                    HueKit
                </h3>
                <span flex></span>

                <md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch>

                <div flex class="profile" ng-hide="!auth.isAuth">
                    <md-button ng-click="toggleRight()">
                        <div class="profile-link">
                            <img ng-src="{{auth.image}}" class="profile-img" alt="Profile image" ng-cloak />
                            <div class="name truncate">{{auth.name}}</div>
                            <img class="icon-action-white icon-action-white-ic_search_black_24dp"></img>
                        </div>
                    </md-button>
                </div>


                <div flex class="profile register-link" ng-hide="auth.isAuth">
                    <md-button ng-click="toggleRight()" ng-hide="auth.isAuth">
                        @*<img class="icon-action-white icon-action-white-ic_account_circle_white_24dp"></img>*@
                        <div class="name truncate">Register</div>
                    </md-button>
                </div>
            </div>
            @*<md-button class="menu-icon" aria-label="Profile" ng-click="toggleRight()">
                    <div class="icon-navigation-white icon-navigation-white-ic_more_vert_white_24dp"></div>
                </md-button>*@

            @*<form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                </form>*@
        </md-toolbar>

        <md-tabs class="md-default" md-dynamic-height md-border-bottom md-selected="data.selectedIndex">
            <md-tab id="tab-gallery" aria-controls="tab-gallery-content">
                Gallery
            </md-tab>
            <md-tab id="tab-favorites" aria-controls="tab-favorites-content" ng-disabled="data.secondLocked">
                Favorites
            </md-tab>
            <md-tab id="tab-settings" aria-controls="tab-settings-content">
                Settings
            </md-tab>
            <md-tab id="tab-news" aria-controls="tab-news-content">
                News
            </md-tab>
            <md-tab id="tab-help" aria-controls="tab-help-content">
                Help
            </md-tab>
        </md-tabs>
        <!-- left column -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" ng-hide md-component-id="left">
            <md-toolbar class="md-toolbar-tools-bottom" md-sidenav-focus>
                <!--md-tall -->
                <h1 class="md-toolbar-tools">Left side</h1>
            </md-toolbar>
            <md-content class="md-padding" ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>

                <md-button ng-href="#/home">Home</md-button>
                <md-button ng-href="#/todomanager">Todo</md-button>
            </md-content>
        </md-sidenav>

        <ng-switch on="data.selectedIndex" class="tabpanel-container">


            <md-content flex
                        class="md-padding"
                        role="tabpanel"
                        id="tab-gallery-content"
                        aria-labelledby="tab-gallery"
                        ng-switch-when="0"
                        md-swipe-left="next()"
                        md-swipe-right="previous()"
                        layout="horizontal"
                        layout-align="center">
                <div layout="horizontal" layout-wrap="wrap" layout-align="left center" class="hueweb" ng-controller="HueWeb">
                    @Html.Partial("_HueWeb")
                    <md-card>
                        <h2>Paracosm</h2>
                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the * two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card>
                </div>
                <md-list id="content">
                    <div ng-repeat="chunk in ::chunks">
                        <p ng-if="chunk.divider">{{chunk.title}}</p>
                        <md-card ng-if="!chunk.expanded && !chunk.divider" ng-click="chunk.expanded = !chunk.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false">
                            <md-item layout="horizontal">
                                <!-- CONTENT COMES HERE -->
                            </md-item>
                        </md-card>
                    </div>
                </md-list>
            </md-content>

            <md-content role="tabpanel"
                        id="tab-favorites-content"
                        aria-labelledby="tab-favorites"
                        ng-switch-when="1"
                        md-swipe-left="next()"
                        md-swipe-right="previous()">

                <div layout="column" layout-fill layout-align="left center">

                    <div>Connected: ({{ hub.connected }})</div>

                    View for {{data.secondLabel}}<br />
                    data.selectedIndex = 1

                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.

                    </p>
                    <div>
                        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>
                    <div>
                        <md-button ng-click="toggleRight()" class="md-primary">
                            Toggle right
                        </md-button>
                    </div>
                </div>
            </md-content>
            <md-content role="tabpanel"
                        id="tab-settings-content"
                        aria-labelledby="tab-settings"
                        ng-switch-when="2"
                        md-swipe-left="next()"
                        md-swipe-right="previous()">

                <div layout="column" layout-fill layout-align="left center">

                    @Html.Partial("_ColorPalettes")

                </div>
            </md-content>

            <md-content role="tabpanel"
                        id="tab-news-content"
                        aria-labelledby="tab-settings"
                        ng-switch-when="3"
                        md-swipe-left="next()"
                        md-swipe-right="previous()">

                <div layout="column" layout-fill layout-align="left center">

                    news

                </div>
            </md-content>

            <md-content role="tabpanel"
                        id="tab-help-content"
                        aria-labelledby="tab-settings"
                        ng-switch-when="4"
                        md-swipe-left="next()"
                        md-swipe-right="previous()">

                <div layout="column" layout-fill layout-align="left center">

                    help

                </div>
            </md-content>

        </ng-switch>
        <!-- right side -->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-toolbar-tools-bottom" md-sidenav-focus>
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" class="md-padding">
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>

                <section id="socialLoginForm" ng-controller="signInCtrl">
                    @Html.Partial("_ExternalLoginsListPartial")
                </section>

                @*<md-button ng-href="#/signin" ng-show="!loggedIn">Signin</md-button>*@

                <div ng-show="auth.isAuth">
                    @*{{username}} <b class="caret"></b>

                        <md-button ng-href="#/managelogins">Manage logins</md-button>
                        <md-button ng-href="#/settings">Settings</md-button>*@
                    <md-button ng-click="logout()">Logout</md-button>
                </div>
            </md-content>
        </md-sidenav>
    </md-content>


    <section layout="row" flex></section>
</div>




