<div layout="column" layout-fill>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
            <md-toolbar class="md-theme-indigo md-tall  md-toolbar-tools-bottom">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content class="md-padding" ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>
        </md-sidenav>
        <md-content flex class="">
            <md-toolbar class="md-tall">
                <span flex></span>
                <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                    <span class="md-flex">Ambieye</span>
                </h2>
            </md-toolbar>
            <div layout="column" layout-fill layout-align="center center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>
                <div>
                    <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                        Toggle left
                    </md-button>
                </div>
                <div>
                    <md-button ng-click="toggleRight()" class="md-primary">
                        Toggle right
                    </md-button>
                </div>
            </div>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light md-tall  md-toolbar-tools-bottom">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" class="md-padding">
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>



<h2>Home</h2>

<p>
    the Web Api is used to expose services to potential clients, while angular is used for all frontend operations.
    You will notice there are several other additions, such as jQuery and Bootstrap.
    jQuery was added to support Bootstrap.
    There are other bootstrap options, which play nice with Angular; but I choose regular bootstrap.
</p>
<p>
    A change has been made to WebApiConfig.cs, which changes all the routing for services.
    By default, services are identified by the parameters they accept.
    I modified this to identity services based on their name and their parameters.
</p>
<p>
    AppController.cs is used to give partial views upon request.
    Such as App/Home will give the home page, and it will return the home.cshtml.
    home.cshtml is a partial page, and it will be inserted in the ngView when returned from the server.
</p>

<h3>Contact Info</h3>
<p>Questions or suggestions can be emailed to contact@dahlnfarnes.com</p>



