/*.flat-shadow *, .flat-shadow *:before, .flat-shadow *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}*/


.social-logins {
    text-align: center;
}
.social-login {
    margin: 5px;
    display: block;
    transition: all ease 0.2s;
    width: 250px;
    text-transform: none;
}
    .social-login img {
        width: 57px;
    }
    .social-login span {
        min-width: 200px;
        display: inline-block;
    }

    .social-login.md-button.md-default-theme[disabled],
    .social-login.md-button.md-default-theme.md-raised[disabled],
    .social-login.md-button.md-default-theme.md-fab[disabled] {

    }

.social-login.md-button.md-default-theme:not([disabled]):hover,
.social-login.md-button.md-default-theme:not([disabled]):focus {
        background-color: #4864b1;
        /*background-image: -webkit-linear-gradient(#4864b1, #1f4284);
        background-image: linear-gradient(#4864b1, #1f4284);*/
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
        margin-top: 3px;
    }
.flat-shadow-google-plus.social-login.md-button.md-default-theme:not([disabled]):hover,
.flat-shadow-google-plus.social-login.md-button.md-default-theme:not([disabled]):focus {
    background-color: #e45a42;
    /*background-image: -webkit-linear-gradient(#e45a42, #C75541);
    background-image: linear-gradient(#e45a42, #C75541);*/
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    margin-top: 3px;
}

.flat-shadow {
	display: inline-block;
	text-align: center;
    color: white;
}
    .flat-shadow i {
        font-size: 1.5em;
        padding-right: 0px;
        padding-top: 5px;
    }
    .flat-shadow span {
        vertical-align: 5px;
    }

.flat-shadow-twitter:not([disabled]) {
	background-color: #62AFD1;
	text-shadow: 
		0px 0px #5393AA,
		1px 1px #5393AA,
		2px 2px #5393AA,
		3px 3px #5393AA,
		4px 4px #5393AA,
		5px 5px #5393AA, 
		6px 6px #5393AA,
		7px 7px #5393AA,
		8px 8px #5393AA,
		9px 9px #5393AA,
		10px 10px #5393AA,
		11px 11px #5393AA,
		12px 12px #5393AA,
		13px 13px #5393AA,
		14px 14px #5393AA,
		15px 15px #5393AA,
		16px 16px #5393AA,
		17px 17px #5393AA,
		18px 18px #5393AA,
		19px 19px #5393AA,
		20px 20px #5393AA,
		21px 21px #5393AA,
		22px 22px #5393AA,
		23px 23px #5393AA,
		24px 24px #5393AA,
		25px 25px #5393AA,
		26px 26px #5393AA,
		27px 27px #5393AA,
		28px 28px #5393AA,
		29px 29px #5393AA,
		30px 30px #5393AA,
		31px 31px #5393AA,
		32px 32px #5393AA,
		33px 33px #5393AA,
		34px 34px #5393AA,
		35px 35px #5393AA,
		36px 36px #5393AA,
		37px 37px #5393AA,
		38px 38px #5393AA,
		39px 39px #5393AA,
		40px 40px #5393AA,
		41px 41px #5393AA,
		42px 42px #5393AA,
		43px 43px #5393AA,
		44px 44px #5393AA,
		45px 45px #5393AA,
		46px 46px #5393AA,
		47px 47px #5393AA,
		48px 48px #5393AA, 
		49px 49px #5393AA,
		50px 50px #5393AA,
		51px 51px #5393AA,
		52px 52px #5393AA,
		53px 53px #5393AA,
		54px 54px #5393AA,
		55px 55px #5393AA,
		56px 56px #5393AA,
		57px 57px #5393AA,
		58px 58px #5393AA,
		59px 59px #5393AA,
		60px 60px #5393AA,
		61px 61px #5393AA,
		62px 62px #5393AA,
		63px 63px #5393AA,
		64px 64px #5393AA,
		65px 65px #5393AA,
		66px 66px #5393AA,
		67px 67px #5393AA,
		68px 68px #5393AA,
		69px 69px #5393AA,
		70px 70px #5393AA,
		71px 71px #5393AA,
		72px 72px #5393AA,
		73px 73px #5393AA,
		74px 74px #5393AA,
		75px 75px #5393AA,
		76px 76px #5393AA,
		77px 77px #5393AA,
		78px 78px #5393AA,
		79px 79px #5393AA,
		80px 80px #5393AA,
		81px 81px #5393AA,
		82px 82px #5393AA,
		83px 83px #5393AA,
		84px 84px #5393AA,
		85px 85px #5393AA,
		86px 86px #5393AA,
		87px 87px #5393AA,
		88px 88px #5393AA,
		89px 89px #5393AA,
		90px 90px #5393AA,
		91px 91px #5393AA,
		92px 92px #5393AA,
		93px 93px #5393AA,
		94px 94px #5393AA,
		95px 95px #5393AA,
		96px 96px #5393AA,
		97px 97px #5393AA,
		98px 98px #5393AA,
		99px 99px #5393AA,
		100px 100px #5393AA,
		101px 101px #5393AA,
		102px 102px #5393AA,
		103px 103px #5393AA,
		104px 104px #5393AA,
		105px 105px #5393AA,
		106px 106px #5393AA,
		107px 107px #5393AA,
		108px 108px #5393AA,
		109px 109px #5393AA,
		110px 110px #5393AA,
		111px 111px #5393AA,
		112px 112px #5393AA,
		113px 113px #5393AA,
		114px 114px #5393AA,
		115px 115px #5393AA,
		116px 116px #5393AA,
		117px 117px #5393AA,
		118px 118px #5393AA,
		119px 119px #5393AA,
		120px 120px #5393AA,
		121px 121px #5393AA,
		122px 122px #5393AA,
		123px 123px #5393AA,
		124px 124px #5393AA,
		125px 125px #5393AA,
		126px 126px #5393AA,
		127px 127px #5393AA,
		128px 128px #5393AA,
		129px 129px #5393AA,
		130px 130px #5393AA,
		131px 131px #5393AA,
		132px 132px #5393AA,
		133px 133px #5393AA,
		134px 134px #5393AA,
		135px 135px #5393AA,
		136px 136px #5393AA,
		137px 137px #5393AA,
		138px 138px #5393AA,
		139px 139px #5393AA,
		140px 140px #5393AA,
		141px 141px #5393AA,
		142px 142px #5393AA,
		143px 143px #5393AA,
		144px 144px #5393AA,
		145px 145px #5393AA,
		146px 146px #5393AA,
		147px 147px #5393AA,
		148px 148px #5393AA,
		149px 149px #5393AA,
		150px 150px #5393AA;	
}
.flat-shadow-google-plus:not([disabled])  {
    background-color: #C75541;
	text-shadow: 
		0px 0px #993429,
		1px 1px #993429,
		2px 2px #993429,
		3px 3px #993429,
		4px 4px #993429,
		5px 5px #993429, 
		6px 6px #993429,
		7px 7px #993429,
		8px 8px #993429,
		9px 9px #993429,
		10px 10px #993429,
		11px 11px #993429,
		12px 12px #993429,
		13px 13px #993429,
		14px 14px #993429,
		15px 15px #993429,
		16px 16px #993429,
		17px 17px #993429,
		18px 18px #993429,
		19px 19px #993429,
		20px 20px #993429,
		21px 21px #993429,
		22px 22px #993429,
		23px 23px #993429,
		24px 24px #993429,
		25px 25px #993429,
		26px 26px #993429,
		27px 27px #993429,
		28px 28px #993429,
		29px 29px #993429,
		30px 30px #993429,
		31px 31px #993429,
		32px 32px #993429,
		33px 33px #993429,
		34px 34px #993429,
		35px 35px #993429,
		36px 36px #993429,
		37px 37px #993429,
		38px 38px #993429,
		39px 39px #993429,
		40px 40px #993429,
		41px 41px #993429,
		42px 42px #993429,
		43px 43px #993429,
		44px 44px #993429,
		45px 45px #993429,
		46px 46px #993429,
		47px 47px #993429,
		48px 48px #993429, 
		49px 49px #993429,
		50px 50px #993429,
		51px 51px #993429,
		52px 52px #993429,
		53px 53px #993429,
		54px 54px #993429,
		55px 55px #993429,
		56px 56px #993429,
		57px 57px #993429,
		58px 58px #993429,
		59px 59px #993429,
		60px 60px #993429,
		61px 61px #993429,
		62px 62px #993429,
		63px 63px #993429,
		64px 64px #993429,
		65px 65px #993429,
		66px 66px #993429,
		67px 67px #993429,
		68px 68px #993429,
		69px 69px #993429,
		70px 70px #993429,
		71px 71px #993429,
		72px 72px #993429,
		73px 73px #993429,
		74px 74px #993429,
		75px 75px #993429,
		76px 76px #993429,
		77px 77px #993429,
		78px 78px #993429,
		79px 79px #993429,
		80px 80px #993429,
		81px 81px #993429,
		82px 82px #993429,
		83px 83px #993429,
		84px 84px #993429,
		85px 85px #993429,
		86px 86px #993429,
		87px 87px #993429,
		88px 88px #993429,
		89px 89px #993429,
		90px 90px #993429,
		91px 91px #993429,
		92px 92px #993429,
		93px 93px #993429,
		94px 94px #993429,
		95px 95px #993429,
		96px 96px #993429,
		97px 97px #993429,
		98px 98px #993429,
		99px 99px #993429,
		100px 100px #993429,
		101px 101px #993429,
		102px 102px #993429,
		103px 103px #993429,
		104px 104px #993429,
		105px 105px #993429,
		106px 106px #993429,
		107px 107px #993429,
		108px 108px #993429,
		109px 109px #993429,
		110px 110px #993429,
		111px 111px #993429,
		112px 112px #993429,
		113px 113px #993429,
		114px 114px #993429,
		115px 115px #993429,
		116px 116px #993429,
		117px 117px #993429,
		118px 118px #993429,
		119px 119px #993429,
		120px 120px #993429,
		121px 121px #993429,
		122px 122px #993429,
		123px 123px #993429,
		124px 124px #993429,
		125px 125px #993429,
		126px 126px #993429,
		127px 127px #993429,
		128px 128px #993429,
		129px 129px #993429,
		130px 130px #993429,
		131px 131px #993429,
		132px 132px #993429,
		133px 133px #993429,
		134px 134px #993429,
		135px 135px #993429,
		136px 136px #993429,
		137px 137px #993429,
		138px 138px #993429,
		139px 139px #993429,
		140px 140px #993429,
		141px 141px #993429,
		142px 142px #993429,
		143px 143px #993429,
		144px 144px #993429,
		145px 145px #993429,
		146px 146px #993429,
		147px 147px #993429,
		148px 148px #993429,
		149px 149px #993429,
		150px 150px #993429;
	}

.flat-shadow-facebook:not([disabled]),
.flat-shadow-linkedin:not([disabled]) {
    /*background-color: #457E9B;
    background-image: linear-gradient(#45b1e8,#3097de);*/
    background-color: #1f4284;
    
	text-shadow: 
		0px 0px #19356a,
		1px 1px #19356a,
		2px 2px #19356a,
		3px 3px #19356a,
		4px 4px #19356a,
		5px 5px #19356a, 
		6px 6px #19356a,
		7px 7px #19356a,
		8px 8px #19356a,
		9px 9px #19356a,
		10px 10px #19356a,
		11px 11px #19356a,
		12px 12px #19356a,
		13px 13px #19356a,
		14px 14px #19356a,
		15px 15px #19356a,
		16px 16px #19356a,
		17px 17px #19356a,
		18px 18px #19356a,
		19px 19px #19356a,
		20px 20px #19356a,
		21px 21px #19356a,
		22px 22px #19356a,
		23px 23px #19356a,
		24px 24px #19356a,
		25px 25px #19356a,
		26px 26px #19356a,
		27px 27px #19356a,
		28px 28px #19356a,
		29px 29px #19356a,
		30px 30px #19356a,
		31px 31px #19356a,
		32px 32px #19356a,
		33px 33px #19356a,
		34px 34px #19356a,
		35px 35px #19356a,
		36px 36px #19356a,
		37px 37px #19356a,
		38px 38px #19356a,
		39px 39px #19356a,
		40px 40px #19356a,
		41px 41px #19356a,
		42px 42px #19356a,
		43px 43px #19356a,
		44px 44px #19356a,
		45px 45px #19356a,
		46px 46px #19356a,
		47px 47px #19356a,
		48px 48px #19356a, 
		49px 49px #19356a,
		50px 50px #19356a,
		51px 51px #19356a,
		52px 52px #19356a,
		53px 53px #19356a,
		54px 54px #19356a,
		55px 55px #19356a,
		56px 56px #19356a,
		57px 57px #19356a,
		58px 58px #19356a,
		59px 59px #19356a,
		60px 60px #19356a,
		61px 61px #19356a,
		62px 62px #19356a,
		63px 63px #19356a,
		64px 64px #19356a,
		65px 65px #19356a,
		66px 66px #19356a,
		67px 67px #19356a,
		68px 68px #19356a,
		69px 69px #19356a,
		70px 70px #19356a,
		71px 71px #19356a,
		72px 72px #19356a,
		73px 73px #19356a,
		74px 74px #19356a,
		75px 75px #19356a,
		76px 76px #19356a,
		77px 77px #19356a,
		78px 78px #19356a,
		79px 79px #19356a,
		80px 80px #19356a,
		81px 81px #19356a,
		82px 82px #19356a,
		83px 83px #19356a,
		84px 84px #19356a,
		85px 85px #19356a,
		86px 86px #19356a,
		87px 87px #19356a,
		88px 88px #19356a,
		89px 89px #19356a,
		90px 90px #19356a,
		91px 91px #19356a,
		92px 92px #19356a,
		93px 93px #19356a,
		94px 94px #19356a,
		95px 95px #19356a,
		96px 96px #19356a,
		97px 97px #19356a,
		98px 98px #19356a,
		99px 99px #19356a,
		100px 100px #19356a,
		101px 101px #19356a,
		102px 102px #19356a,
		103px 103px #19356a,
		104px 104px #19356a,
		105px 105px #19356a,
		106px 106px #19356a,
		107px 107px #19356a,
		108px 108px #19356a,
		109px 109px #19356a,
		110px 110px #19356a,
		111px 111px #19356a,
		112px 112px #19356a,
		113px 113px #19356a,
		114px 114px #19356a,
		115px 115px #19356a,
		116px 116px #19356a,
		117px 117px #19356a,
		118px 118px #19356a,
		119px 119px #19356a,
		120px 120px #19356a,
		121px 121px #19356a,
		122px 122px #19356a,
		123px 123px #19356a,
		124px 124px #19356a,
		125px 125px #19356a,
		126px 126px #19356a,
		127px 127px #19356a,
		128px 128px #19356a,
		129px 129px #19356a,
		130px 130px #19356a,
		131px 131px #19356a,
		132px 132px #19356a,
		133px 133px #19356a,
		134px 134px #19356a,
		135px 135px #19356a,
		136px 136px #19356a,
		137px 137px #19356a,
		138px 138px #19356a,
		139px 139px #19356a,
		140px 140px #19356a,
		141px 141px #19356a,
		142px 142px #19356a,
		143px 143px #19356a,
		144px 144px #19356a,
		145px 145px #19356a,
		146px 146px #19356a,
		147px 147px #19356a,
		148px 148px #19356a,
		149px 149px #19356a,
		150px 150px #19356a;
}
.flat-shadow-pinterest:not([disabled]) {
	background-color: #C21F25;
	text-shadow: 
		0px 0px #9B191E,
		1px 1px #9B191E,
		2px 2px #9B191E,
		3px 3px #9B191E,
		4px 4px #9B191E,
		5px 5px #9B191E, 
		6px 6px #9B191E,
		7px 7px #9B191E,
		8px 8px #9B191E,
		9px 9px #9B191E,
		10px 10px #9B191E,
		11px 11px #9B191E,
		12px 12px #9B191E,
		13px 13px #9B191E,
		14px 14px #9B191E,
		15px 15px #9B191E,
		16px 16px #9B191E,
		17px 17px #9B191E,
		18px 18px #9B191E,
		19px 19px #9B191E,
		20px 20px #9B191E,
		21px 21px #9B191E,
		22px 22px #9B191E,
		23px 23px #9B191E,
		24px 24px #9B191E,
		25px 25px #9B191E,
		26px 26px #9B191E,
		27px 27px #9B191E,
		28px 28px #9B191E,
		29px 29px #9B191E,
		30px 30px #9B191E,
		31px 31px #9B191E,
		32px 32px #9B191E,
		33px 33px #9B191E,
		34px 34px #9B191E,
		35px 35px #9B191E,
		36px 36px #9B191E,
		37px 37px #9B191E,
		38px 38px #9B191E,
		39px 39px #9B191E,
		40px 40px #9B191E,
		41px 41px #9B191E,
		42px 42px #9B191E,
		43px 43px #9B191E,
		44px 44px #9B191E,
		45px 45px #9B191E,
		46px 46px #9B191E,
		47px 47px #9B191E,
		48px 48px #9B191E, 
		49px 49px #9B191E,
		50px 50px #9B191E,
		51px 51px #9B191E,
		52px 52px #9B191E,
		53px 53px #9B191E,
		54px 54px #9B191E,
		55px 55px #9B191E,
		56px 56px #9B191E,
		57px 57px #9B191E,
		58px 58px #9B191E,
		59px 59px #9B191E,
		60px 60px #9B191E,
		61px 61px #9B191E,
		62px 62px #9B191E,
		63px 63px #9B191E,
		64px 64px #9B191E,
		65px 65px #9B191E,
		66px 66px #9B191E,
		67px 67px #9B191E,
		68px 68px #9B191E,
		69px 69px #9B191E,
		70px 70px #9B191E,
		71px 71px #9B191E,
		72px 72px #9B191E,
		73px 73px #9B191E,
		74px 74px #9B191E,
		75px 75px #9B191E,
		76px 76px #9B191E,
		77px 77px #9B191E,
		78px 78px #9B191E,
		79px 79px #9B191E,
		80px 80px #9B191E,
		81px 81px #9B191E,
		82px 82px #9B191E,
		83px 83px #9B191E,
		84px 84px #9B191E,
		85px 85px #9B191E,
		86px 86px #9B191E,
		87px 87px #9B191E,
		88px 88px #9B191E,
		89px 89px #9B191E,
		90px 90px #9B191E,
		91px 91px #9B191E,
		92px 92px #9B191E,
		93px 93px #9B191E,
		94px 94px #9B191E,
		95px 95px #9B191E,
		96px 96px #9B191E,
		97px 97px #9B191E,
		98px 98px #9B191E,
		99px 99px #9B191E,
		100px 100px #9B191E,
		101px 101px #9B191E,
		102px 102px #9B191E,
		103px 103px #9B191E,
		104px 104px #9B191E,
		105px 105px #9B191E,
		106px 106px #9B191E,
		107px 107px #9B191E,
		108px 108px #9B191E,
		109px 109px #9B191E,
		110px 110px #9B191E,
		111px 111px #9B191E,
		112px 112px #9B191E,
		113px 113px #9B191E,
		114px 114px #9B191E,
		115px 115px #9B191E,
		116px 116px #9B191E,
		117px 117px #9B191E,
		118px 118px #9B191E,
		119px 119px #9B191E,
		120px 120px #9B191E,
		121px 121px #9B191E,
		122px 122px #9B191E,
		123px 123px #9B191E,
		124px 124px #9B191E,
		125px 125px #9B191E,
		126px 126px #9B191E,
		127px 127px #9B191E,
		128px 128px #9B191E,
		129px 129px #9B191E,
		130px 130px #9B191E,
		131px 131px #9B191E,
		132px 132px #9B191E,
		133px 133px #9B191E,
		134px 134px #9B191E,
		135px 135px #9B191E,
		136px 136px #9B191E,
		137px 137px #9B191E,
		138px 138px #9B191E,
		139px 139px #9B191E,
		140px 140px #9B191E,
		141px 141px #9B191E,
		142px 142px #9B191E,
		143px 143px #9B191E,
		144px 144px #9B191E,
		145px 145px #9B191E,
		146px 146px #9B191E,
		147px 147px #9B191E,
		148px 148px #9B191E,
		149px 149px #9B191E,
		150px 150px #9B191E;
}
.flat-shadow-github-alt:not([disabled]) {
	background-color: #616A6D;
	text-shadow: 
		0px 0px #474F51,
		1px 1px #474F51,
		2px 2px #474F51,
		3px 3px #474F51,
		4px 4px #474F51,
		5px 5px #474F51, 
		6px 6px #474F51,
		7px 7px #474F51,
		8px 8px #474F51,
		9px 9px #474F51,
		10px 10px #474F51,
		11px 11px #474F51,
		12px 12px #474F51,
		13px 13px #474F51,
		14px 14px #474F51,
		15px 15px #474F51,
		16px 16px #474F51,
		17px 17px #474F51,
		18px 18px #474F51,
		19px 19px #474F51,
		20px 20px #474F51,
		21px 21px #474F51,
		22px 22px #474F51,
		23px 23px #474F51,
		24px 24px #474F51,
		25px 25px #474F51,
		26px 26px #474F51,
		27px 27px #474F51,
		28px 28px #474F51,
		29px 29px #474F51,
		30px 30px #474F51,
		31px 31px #474F51,
		32px 32px #474F51,
		33px 33px #474F51,
		34px 34px #474F51,
		35px 35px #474F51,
		36px 36px #474F51,
		37px 37px #474F51,
		38px 38px #474F51,
		39px 39px #474F51,
		40px 40px #474F51,
		41px 41px #474F51,
		42px 42px #474F51,
		43px 43px #474F51,
		44px 44px #474F51,
		45px 45px #474F51,
		46px 46px #474F51,
		47px 47px #474F51,
		48px 48px #474F51, 
		49px 49px #474F51,
		50px 50px #474F51,
		51px 51px #474F51,
		52px 52px #474F51,
		53px 53px #474F51,
		54px 54px #474F51,
		55px 55px #474F51,
		56px 56px #474F51,
		57px 57px #474F51,
		58px 58px #474F51,
		59px 59px #474F51,
		60px 60px #474F51,
		61px 61px #474F51,
		62px 62px #474F51,
		63px 63px #474F51,
		64px 64px #474F51,
		65px 65px #474F51,
		66px 66px #474F51,
		67px 67px #474F51,
		68px 68px #474F51,
		69px 69px #474F51,
		70px 70px #474F51,
		71px 71px #474F51,
		72px 72px #474F51,
		73px 73px #474F51,
		74px 74px #474F51,
		75px 75px #474F51,
		76px 76px #474F51,
		77px 77px #474F51,
		78px 78px #474F51,
		79px 79px #474F51,
		80px 80px #474F51,
		81px 81px #474F51,
		82px 82px #474F51,
		83px 83px #474F51,
		84px 84px #474F51,
		85px 85px #474F51,
		86px 86px #474F51,
		87px 87px #474F51,
		88px 88px #474F51,
		89px 89px #474F51,
		90px 90px #474F51,
		91px 91px #474F51,
		92px 92px #474F51,
		93px 93px #474F51,
		94px 94px #474F51,
		95px 95px #474F51,
		96px 96px #474F51,
		97px 97px #474F51,
		98px 98px #474F51,
		99px 99px #474F51,
		100px 100px #474F51,
		101px 101px #474F51,
		102px 102px #474F51,
		103px 103px #474F51,
		104px 104px #474F51,
		105px 105px #474F51,
		106px 106px #474F51,
		107px 107px #474F51,
		108px 108px #474F51,
		109px 109px #474F51,
		110px 110px #474F51,
		111px 111px #474F51,
		112px 112px #474F51,
		113px 113px #474F51,
		114px 114px #474F51,
		115px 115px #474F51,
		116px 116px #474F51,
		117px 117px #474F51,
		118px 118px #474F51,
		119px 119px #474F51,
		120px 120px #474F51,
		121px 121px #474F51,
		122px 122px #474F51,
		123px 123px #474F51,
		124px 124px #474F51,
		125px 125px #474F51,
		126px 126px #474F51,
		127px 127px #474F51,
		128px 128px #474F51,
		129px 129px #474F51,
		130px 130px #474F51,
		131px 131px #474F51,
		132px 132px #474F51,
		133px 133px #474F51,
		134px 134px #474F51,
		135px 135px #474F51,
		136px 136px #474F51,
		137px 137px #474F51,
		138px 138px #474F51,
		139px 139px #474F51,
		140px 140px #474F51,
		141px 141px #474F51,
		142px 142px #474F51,
		143px 143px #474F51,
		144px 144px #474F51,
		145px 145px #474F51,
		146px 146px #474F51,
		147px 147px #474F51,
		148px 148px #474F51,
		149px 149px #474F51,
		150px 150px #474F51;
}