.intro {
  height: 115px; }

.hueweb md-card {
  min-height: 150px;
  max-height: 450px;
  width: 290px; }

.hueweb {
  padding: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #B5B5B5;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h5 {
  font-size: 12px;
  line-height: 0.8em; }

a:focus {
  outline: 0; }

.offset {
  margin-left: 35px;
  width: 226px; }

.pane-body {
  padding-left: 15px; }

#brightness-control {
  width: 250px; }

.slider.slider-horizontal .slider-selection {
  background: #95b7d4; }

.slider.disabled .slider-selection {
  background: #BABABA; }

.slider-handle {
  background-color: #fff;
  border-radius: 100%;
  cursor: move;
  height: 20px;
  left: 0;
  top: 0px;
  opacity: 1;
  position: absolute;
  width: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-image: none;
  cursor: pointer; }

.slider.disabled .slider-handle, .slider.disabled .slider-track {
  cursor: default; }

.slider.slider-horizontal .slider-handle {
  margin-top: -8px; }

.slider.slider-horizontal .slider-track {
  height: 5px; }

.link-btn:hover {
  text-decoration: none; }

.background {
  background-repeat: no-repeat;
  /*background: radial-gradient(circle, #fffeff, #dae0f6);*/
  background: -webkit-linear-gradient(top, #fffef2 0%, #eaeae2 50%);
  background: -webkit-linear-gradient(top, #F9F7EE 0%, #B2B2AC, #ccc);
  background: -webkit-linear-gradient(160deg, #63D663 20%, #57D39C 80%);
  background: -webkit-linear-gradient(260deg, #63D663 20%, #57D39C 80%);
  transition: background-color 0.5s;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  background: white; }

#wrapper {
  position: relative;
  height: 100%;
  width: 100%; }

.intro-body {
  padding-top: 30px; }

.intro-body {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */ }

.intro-text {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -o-animation: fadein 3s;
  /* Opera */ }

.intro-text a {
  cursor: pointer;
  color: #aaa;
  font-weight: 600; }

.fade3 {
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  /* Safari and Chrome */ }

.delay2 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s; }

#lamp {
  height: 47px;
  width: 41px;
  float: left;
  left: -33px;
  position: absolute;
  top: -5px;
  background-image: url('../img/lightswitch.logo.48.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 6px;
  display: none; }

#lamp-path {
  color: #DADADA;
  fill: currentColor; }

#lamp-color {
  color: #fff;
  fill: currentColor; }

.hueweb .logo {
  height: 50px;
  margin: 0;
  font-size: 35px;
  background-image: url(../img/lightswitch.grey.png);
  background-repeat: no-repeat;
  background-size: 200px;
  text-indent: -3000px; }

body.light .hueweb .logo {
  background-image: url(../img/lightswitch.grey.png); }

body.app .hueweb .logo {
  background-image: url(../img/shine.png);
  background-size: 134px;
  margin-left: 30px; }

body.pro .hueweb .logo {
  background-image: url(../img/lightswitch.grey.png); }

body.ambieye .hueweb .logo {
  background-image: url(../img/ambieye.png); }

body.web .hueweb .logo {
  background-image: url(../img/lightswitch.grey.png); }

.switch {
  padding-top: 50px;
  padding-left: 76px;
  position: absolute; }

.switch {
  animation: fadeout 2s; }

#connectStatus {
  font-size: 0.7em;
  text-align: center; }

p {
  margin: 0 0 5px; }

.tabs {
  width: 320px; }

.nav-justified {
  border-bottom: 1px solid #ddd;
  border-bottom-color: #fff; }

.nav-justified > li {
  display: table-cell;
  width: 1%;
  float: none;
  color: #4D9ADB; }

.controls {
  text-decoration: none;
  font-size: 0.8em; }

.tab-pane {
  overflow: auto;
  height: 215px;
  margin: 10px;
  font-family: verdana, helvetica, verdana, arial;
  color: #333; }

.panel-body {
  padding: 0 10px 0px; }

.log-text {
  font-family: monospace;
  font-size: 0.9em; }

.footer {
  position: absolute;
  bottom: 0px;
  font-size: 0.8em;
  font-size: 0.7em;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.center {
  margin: 0 auto;
  text-align: center; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.tab-content h2, .scene-name, .colors-name, .palette-name {
  padding-left: 15px;
  margin-bottom: -5px;
  line-height: 2em;
  margin-top: 5px;
  width: 114px;
  overflow: hidden;
  height: 22px;
  cursor: pointer; }

.palette-name {
  padding-left: 8px;
  width: 150px; }

.tab-content h2 {
  font-size: 11px; }

.actor, .actor:hover, .savedscene {
  background-color: #fff;
  border: none;
  width: auto;
  height: 20px;
  margin: 2px;
  outline: none;
  border-radius: 20px;
  border: solid 1px #fff;
  transition: background-color 400ms; }

.savedscene {
  background-color: #f3f3f3; }

.savedscene:hover {
  background-color: #ccc; }

.actor.active, .savedscene.active {
  background-color: #FFFE99;
  outline: none;
  border: solid 1px #EDEDED; }

a.hightlight {
  background-color: #FFFE99;
  outline: none;
  margin: 0 0px;
  border-radius: 5px;
  padding: 0 5px;
  line-height: 2em;
  cursor: pointer; }

.scene .colors, .palette .colors {
  list-style: none;
  width: 80%;
  display: table;
  table-layout: fixed;
  /* For cells of equal size */
  margin: 5px auto;
  /*border: solid 1px;
  border-radius: 3px;
  border-color: #F4F4F4;
  */
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border-radius: 3px; }

.scene .colors, .palette .colors {
  float: right;
  width: 55%;
  margin-right: 10px; }

.palette .colors {
  width: 115px; }

.scene {
  cursor: pointer; }

.palette:hover, .scene:hover {
  color: #333;
  background: #F2F2F2;
  border-radius: 20px; }

.scene.active {
  background-color: #FFFE99; }

.scene:hover .colors {
  position: relative;
  transform: scale(1.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.palette .colors .color:hover, .palette .colors .color.current {
  background-image: none;
  -webkit-transform: -webkit-scale(1.5);
  -moz-transform: -moz-scale(1.5);
  -o-transform: -o-scale(1.5);
  transform: scale(1.5);
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.colors .color {
  height: 12px;
  text-indent: -9999px;
  display: table-cell;
  /*-webkit-transition: all .2s ease-in-out; */ }

.colors .color:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.colors .color:first-child {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  border-bottom-color: #fff; }

.nav-tabs.nav-justified > li > a {
  /*border-bottom: 1px solid #ccc;*/
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  height: 27px; }

.nav-tabs.nav-justified {
  background: #F5F5F5;
  border-bottom: #ccc solid 1px;
  border-top: #ccc solid 1px;
  padding: 0 15px;
  height: 30px; }

.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 5px;
  margin-top: 2px; }

.nav-tabs > li > a:hover {
  border-color: #ddd;
  padding-bottom: 4px;
  background-color: #fafafa; }

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #ccc;
  padding: 5px;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); }

::-webkit-scrollbar-corner {
  background: #000; }

.newsletter_form {
  overflow: hidden;
  width: 280px;
  display: table; }

.search {
  display: table; }

.colorlovers.shortcuts, .colorlovers.shortcuts a {
  padding: 5px;
  text-decoration: none; }

#newsletter_form {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px; }

#uservoice {
  overflow: hidden; }

#uservoice > div {
  /*margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;*/ }

.input {
  width: 69%;
  height: 23px;
  display: table-cell;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #444;
  background: white;
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #ccc;
  border-right: 0;
  outline: none;
  font-size: 1.2em;
  padding-left: 1.2rem;
  padding-top: 0.1rem; }

.subscribe-input {
  float: left; }

.submit {
  font-size: 1.1rem;
  font-weight: 600;
  font-style: normal;
  height: 23px;
  width: 8rem;
  line-height: 1rem;
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid #ccc;
  border-left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  outline: 0;
  color: #4a4a4a;
  background: #eee;
  border: 1px solid #678389;
  color: white;
  background: #18BEEF;
  display: table-cell; }

.error .subscribe-input {
  border-color: red; }

.error .subscribe-submit {
  border-color: red;
  /*
  background-color: red;*/ }

@keyframes shake {
  0% {
    transform: translateX(0); }

  12.5% {
    transform: translateX(-2px) rotateY(-5deg); }

  37.5% {
    transform: translateX(3px) rotateY(4deg); }

  62.5% {
    transform: translateX(-3px) rotateY(-2deg); }

  87.5% {
    transform: translateX(2px) rotateY(1deg); }

  100% {
    transform: translateX(0); } }

@-webkit-keyframes shake {
  0% {
    transform: translateX(0); }

  12.5% {
    transform: translateX(-2px) rotateY(-5deg); }

  37.5% {
    transform: translateX(3px) rotateY(4deg); }

  62.5% {
    transform: translateX(-3px) rotateY(-2deg); }

  87.5% {
    transform: translateX(2px) rotateY(1deg); }

  100% {
    transform: translateX(0); } }

.shake {
  animation: shake 400ms ease-in-out;
  -webkit-animation: shake 400ms ease-in-out; }

#subscribe-form {
  position: relative; }

.successsubscribe {
  background-color: #fffcd2; }

.successsubscribe {
  height: 3.25rem;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 10px;
  color: black;
  z-index: 5;
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); }

#manualbridgeip {
  display: table;
  position: relative;
  width: 200px;
  margin-top: 9px; }

.bridgeip {
  font-size: 0.9em;
  width: 150px; }

#manualbridgeip .submit {
  width: 5rem; }

/* color wheel */
/* colorpicker styles */
#picker, #picker2 {
  cursor: crosshair;
  float: left;
  border: 0;
  margin: 10px 10px;
  border: 0;
  border-radius: 5px; }

#rgbVal {
  width: 23px;
  height: 100px;
  border-radius: 5px;
  float: left;
  display: block;
  background: #ccc;
  margin: 12px 0 0 14px; }

.footer time {
  padding-right: 4px; }

/* eye */
.eye-switch {
  float: right; }

.eye-preview {
  width: 200px;
  height: 150px;
  /* margin: 0 auto; */
  background: #eee;
  /* BORDER: 10px solid; */
  padding: 0px 10px 10px 0px;
  float: left; }

.web-preview {
  padding-top: 10px; }

.preview-box {
  width: 70px;
  height: 50px;
  float: right;
  background: #eee;
  border: solid 1px #ccc; }

.preview-box ~ .preview-box {
  border-top: 0; }

#ambientpreview {
  max-width: 200px;
  max-height: 150px;
  margin: 0 auto;
  display: block; }

h5 a, h5 a:hover {
  float: right;
  text-decoration: none; }

#create-group {
  background: #F5F5F5;
  border-radius: 20px; }

#create-group #group-name {
  width: 266px;
  display: table;
  margin-bottom: 0; }

#group-name .input {
  width: 81%;
  height: 23px;
  margin: 10px 0px 10px 10px; }

#group-name .submit {
  height: 23px;
  background: #678389;
  width: auto; }

#group-add-lamps, #group-remove {
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px; }

#group-remove {
  border-top: 1px solid #ccc;
  padding-top: 10px; }

.error .input {
  border-color: red; }

.error .submit {
  border-color: red; }

#group-remove button:hover {
  background: red; }

.applinks {
  margin-top: 1px; }

.light .only-light {
  display: block !important;
  visibility: visible !important; }

.app .not-app, .pro .not-pro {
  display: none; }

.only-app, .only-pro {
  display: none; }

.app .only-app, .pro .only-pro {
  display: block !important;
  visibility: visible !important; }

.draggable {
  -webkit-app-region: drag; }

.no-drag {
  -webkit-app-region: no-drag; }

.close-icon, .minimize-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0.9em; }

.minimize-icon {
  top: 18px;
  right: 32px; }

.close-icon i, .minimize-icon i {
  color: #ccc; }

.close-icon i:hover, .minimize-icon i:hover {
  color: #000; }

/*# sourceMappingURL=popup.css.map */