/* fill */
body, html {
    height:100%;
    font-family: 'Roboto', sans-serif;
    /*font-weight: 100;*/
}
#outerbox {
    width:100%;
    position:absolute; /* to place it somewhere on the screen */
    top:130px;         /* free space at top */
    bottom:0px;        /* makes it lock to the bottom */
}
#innerbox {
    width:100%;
    position:absolute;              
    min-height:100% !important; /* browser fill */
    height:auto;                /*content fill */
}

[ui-view=home] {
    padding-top: 130px;
}

html, body {
    /*background: #375369 no-repeat center center fixed;
    background-color: #1c2b36;
        */
    background-color: #FFFFFF;
    background-color: #f2f2f2;
    background-size: cover;
    transition: padding 1.5s ease;
}

/* radius */
md-content.home-content.md-default-theme {
    border-radius: 6px;
    background-clip: padding-box;
}
md-content.home-content > md-toolbar.md-default-theme {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.md-sidenav-left, 
md-sidenav,
md-sidenav.md-sidenav-left md-toolbar.md-default-theme {
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0;
}

md-sidenav.md-sidenav-right.md-whiteframe-z2.ng-isolate-scope {
    border-top-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
}
ng-switch {
  border-radius: 6px solid transparent;
}
    ng-switch > md-content.md-default-theme {
        border-radius: 6px solid transparent;
    }

/* background fix */
md-content.md-default-theme {
    /*background-color: inherit;
    border-radius: 4px solid transparent;*/
}
md-content.md-default-theme md-tabs {
    background-color: white;

}

@media screen and (min-width: 1200px) {
    body {
        padding-top: 80px;
    }

    .main-container {
        max-width: 1200px;
    }
}

@media (min-width: 600px) {
    .md-header-items-container {
        padding-left: 60px;
    }
}

.signin {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 7px;
}

    .signin .rounded-header {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

.logo-icon {
    /*display: inline-flex;*/
    vertical-align: text-bottom;
}

.menu-icon .md-icon {
    fill: white;
}

.webapp {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}


.site-header {
    /*color: #F2EFDC;*/
    padding: 10px;
}

.user-status a a:visited {
    color: orangered;
}

.user-status a:active a:hover {
    color: red;
}

.site-status {
    margin-top: 10px;
    /*color: white;*/
}

.site-footer {
    background-color: #808080;
    color: #404040;
}

    .site-footer footer {
        margin: 10px;
    }

.site-body {
    /*background-color: #f8f7f2;*/
    color: #404040;
    padding: 10px;
}

.site-username-status {
    list-style-type: none;
    display: inline;
}

.site-login {
}

.home-consumer {
    /*background-color: #888888;*/
}

.home-contractor {
    /*background-color:#888666;*/
}

.dashboard-btn {
    margin-top: 15px;
}

.thumbnail_max_size {
    max-height: 100px;
}

.strike {
    text-decoration: line-through;
}



.margin-top-5 {
    margin-top: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-5 {
    margin: 5px;
}

.session-alert {
    width: 100%;
    margin-top: 5px;
}

.session-alert-btn-wrapper {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
}

    .header-panel div {
        position: relative;
        height: 100%;
    }

    .header-panel h1 {
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        position: absolute;
        bottom: 10px;
        padding-left: 35px;
    }

.menu {
    overflow: auto;
    padding: 0;
}

    .menu, .menu * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

        .menu ul {
            padding: 0;
            margin: 7px 0;
        }

            .menu ul li {
                list-style: none;
                padding: 20px 0 20px 50px;
                font-size: 15px;
                font-weight: normal;
                cursor: pointer;
            }

                .menu ul li.active {
                    background-color: #dedede;
                    position: relative;
                }

                .menu ul li a {
                    color: rgb(51, 51, 51);
                    text-decoration: none;
                }

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

    .pages > div {
        padding: 0 5px;
        padding-top: 64px;
    }

    .pages .header {
        color: rgb(82, 101, 162);
        font-size: 24px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 60px;
        letter-spacing: 1.20000004768372px;
    }

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

    .page.active {
        transform: translateY(0px);
        transition: all 0.3s ease-out;
        display: block;
        opacity: 1;
    }


.tabsdemoStaticTabs {
    /*
 * Animation styles
 */
}
    /*
*/
    /*
  .tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
  .tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
  .tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
    */
    .tabsdemoStaticTabs .tabpanel-container {
        display: block;
        position: relative;
        background: white;
        border: 0px solid black;
        min-height: 500px;
        opacity: 1;
        overflow: hidden;
    }

    .tabsdemoStaticTabs [role="tabpanel"] {
        /*color: white;*/
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        transition: all cubic-bezier(.77,.06,.99,.59) 5.5s;
        transition: all ease-out 0.3s;
    }

        .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
            top: -150px;
            opacity: 1;
        }

            .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
                top: 0;
                opacity: 1;
            }

        .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active {
            top: 0;
            opacity: 0;
        }

        .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
            top: 100px;
            z-index: 100;
            opacity: 0;
        }

    .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
        padding: 20px;
    }

    .tabsdemoStaticTabs .after-tabs-area {
        padding: 25px;
    }

        .tabsdemoStaticTabs .after-tabs-area > span {
            margin-top: 25px;
            padding-right: 15px;
            vertical-align: middle;
            line-height: 30px;
            height: 35px;
        }

        .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
            margin-top: 26px;
            margin-left: 0px;
        }

    .tabsdemoStaticTabs .md-header {
        /*background-color: #1976D2; */
    }

    .tabsdemoStaticTabs md-tab {
        color: #90caf9 !important;
    }

        .tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
            color: white !important;
        }

        .tabsdemoStaticTabs md-tab[disabled] {
            opacity: 0.5;
        }

    .tabsdemoStaticTabs .md-header .md-ripple {
        border-color: #FFFF8D !important;
    }

    .tabsdemoStaticTabs md-tabs-ink-bar {
        background-color: #FFFF8D !important;
    }

.profile {
    font-size: 14px;
    max-width: 200px;
    align-items: flex-end;
    text-align: right;
    min-width: 150px;
}

.profile-img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 5px;
    border-radius: 13px;
}

.profile .name {
    height: 35px;
    vertical-align: sub;
    display: inline-block;
    text-transform: none;
    font-family: Roboto-Regular;
}

.home-content {
    overflow: hidden;
}

.logo,
 .md-toolbar-tools h3.logo   {
    min-width: 111px;
    font-weight: 100;
}

.item .opacity:hover {
  background-color: rgba(0,0,0,0.75);
}
.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hover-container {
    position: relative;
}

.profile.register-link {
    max-width: 120px;
}
.sub-title {
  position: absolute;
  top: 65%;
  padding: 15px;
  color: white;
}

.truncate {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.reveal-animation.ng-enter {
    -webkit-transition: 10s linear all; /* Safari/Chrome */
    -moz-transition: 10s linear all;
    -o-transition: 10s linear all;
    transition: 10s linear all; /* All other modern browsers and IE10+ */
    /* The animation preparation code */
    opacity: 0;
}

    /*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
    .reveal-animation.ng-enter.ng-enter-active {
        /* The animation code itself */
        opacity: 1;
    }



/*
         * ngRepeat triggers three animation events: enter, leave and move.
         */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
    -webkit-transition: 1.5s linear all;
    transition: 1.5s linear all;
}

/* ending enter and move styling
           (this is what the element will animate from */
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
    opacity: 0;
}

    /* ending enter and move styling
           (this is what the element will animate towards */
    .repeat-animation.ng-enter.ng-enter-active,
    .repeat-animation.ng-move.ng-move-active {
        opacity: 1;
    }

/* starting leave animation */
.repeat-animation.ng-leave {
    opacity: 1;
}

    /* ending leave animation */
    .repeat-animation.ng-leave.ng-leave-active {
        opacity: 0;
    }







.color-palette {
    color: rgba(255,255,255,0.87);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 60px;
}

@media screen and (max-width: 1240px) {
    .color-palette {
        padding-right: 0;
        width: 760px;
    }
}

@media screen and (max-width: 760px) {
    .color-palette {
        padding-right: 0;
        width: 360px;
    }
}

@media screen and (max-width: 360px) {
    .color-palette {
        padding-right: 0;
        width: 100%;
    }
}

.color-palette .module-end {
    clear: left;
}

.color-palette .light {
    color: rgba(255,255,255,0.87);
}

.color-palette .light-strong {
    color: #fff;
}

.color-palette .dark {
    color: rgba(0,0,0,0.87);
}

.color-palette .dark-when-small {
    color: rgba(0,0,0,0.87);
}

.color-palette .dark-strong {
    color: #000;
}

.color-palette .color-group, 
.color-palette .color-group:last-child {
    float: left;
    margin-left: 40px;
    padding-bottom: 40px;
    width: 250px;
    display: block;
}
    .color-palette .color-group ul {
        padding-left: 0;
    }

    .color-palette .color-group:after, .color-palette .color-group:last-child:after {
        content: "";
        display: table;
        clear: both;
    }

@media screen and (max-width: 760px) {
    .color-palette .color-group, .color-palette .color-group:last-child {
        margin-left: 0;
        padding-right: 0;
        width: 360px;
    }
}

@media screen and (max-width: 360px) {
    .color-palette .color-group, .color-palette .color-group:last-child {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
}

.color-palette .color-group:first-child, .color-palette .color-group:nth-of-type(3n+1), .color-palette .color-group:last-child:first-child, .color-palette .color-group:last-child:nth-of-type(3n+1) {
    clear: left;
    margin-left: 0;
}

@media screen and (max-width: 1240px) {
    .color-palette .color-group:first-child, .color-palette .color-group:nth-of-type(3n+1), .color-palette .color-group:last-child:first-child, .color-palette .color-group:last-child:nth-of-type(3n+1) {
        clear: none;
        margin-left: 40px;
    }
}

@media screen and (max-width: 760px) {
    .color-palette .color-group:first-child, .color-palette .color-group:nth-of-type(3n+1), .color-palette .color-group:last-child:first-child, .color-palette .color-group:last-child:nth-of-type(3n+1) {
        margin-left: 0;
    }
}

@media screen and (max-width: 1240px) {
    .color-palette .color-group:nth-of-type(2n+1), .color-palette .color-group:last-child:nth-of-type(2n+1) {
        clear: left;
        margin-left: 0;
    }
}

.color-palette .color-group li, .color-palette .color-group:last-child li {
    list-style-type: none;
}

    .color-palette .color-group li.color, .color-palette .color-group:last-child li.color {
        padding: 15px;
    }

        .color-palette .color-group li.color .hex, .color-palette .color-group:last-child li.color .hex {
            float: right;
            text-transform: uppercase;
        }

    .color-palette .color-group li.main-color, .color-palette .color-group:last-child li.main-color {
        border-bottom: 4px solid #f9f9f9;
    }

        .color-palette .color-group li.main-color .name, .color-palette .color-group:last-child li.main-color .name {
            display: block;
            margin-bottom: 60px;
        }

    .color-palette .color-group li.divide, .color-palette .color-group:last-child li.divide {
        border-top: 4px solid #f9f9f9;
    }
