body {
}

.main-container {
    max-width: 1200px;
}

.site-header {
    /*color: #F2EFDC;*/
    padding: 10px;
}

.user-status a a:visited {
    color: orangered;
}

.user-status a:active a:hover {
    color: red;
}

.site-status {
    margin-top: 10px;
    /*color: white;*/
}

.site-footer {
    background-color: #808080;
    color: #404040;
}

    .site-footer footer {
        margin: 10px;
    }

.site-body {
    /*background-color: #f8f7f2;*/
    color: #404040;
    padding: 10px;
}

.site-username-status {
    list-style-type: none;
    display: inline;
}

.site-login {
}

.home-consumer {
    /*background-color: #888888;*/
}

.home-contractor {
    /*background-color:#888666;*/
}

.dashboard-btn {
    margin-top: 15px;
}

.thumbnail_max_size {
    max-height: 100px;
}

.strike {
    text-decoration: line-through;
}



.margin-top-5 {
    margin-top: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-5 {
    margin: 5px;
}

.session-alert {
    width: 100%;
    margin-top: 5px;
}

.session-alert-btn-wrapper {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
}

    .header-panel div {
        position: relative;
        height: 100%;
    }

    .header-panel h1 {
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        position: absolute;
        bottom: 10px;
        padding-left: 35px;
    }

.menu {
    overflow: auto;
    padding: 0;
}

    .menu, .menu * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

        .menu ul {
            padding: 0;
            margin: 7px 0;
        }

            .menu ul li {
                list-style: none;
                padding: 20px 0 20px 50px;
                font-size: 15px;
                font-weight: normal;
                cursor: pointer;
            }

                .menu ul li.active {
                    background-color: #dedede;
                    position: relative;
                }

                .menu ul li a {
                    color: rgb(51, 51, 51);
                    text-decoration: none;
                }

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

    .pages > div {
        padding: 0 5px;
        padding-top: 64px;
    }

    .pages .header {
        color: rgb(82, 101, 162);
        font-size: 24px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 60px;
        letter-spacing: 1.20000004768372px;
    }

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

    .page.active {
        transform: translateY(0px);
        transition: all 0.3s ease-out;
        display: block;
        opacity: 1;
    }