.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 1px;
  width: 40px;
  height: 20px;
  background-color: #fff;
  background-color: #EFEFEF;
  border-radius: 20px;

  background-color: #EDEDED;
  border-radius: 20px;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 2px;
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: background 0.4s, width 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  

  /*transition: margin 0.4s;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;*/

  -webkit-animation-duration: .25s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchThumbAnimationOff;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchThumbAnimationOff;
  pointer-events: none

}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;

  /*-webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;*/

  -webkit-animation-duration: .25s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchThumbAnimation;
  
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchThumbAnimation

}

@-webkit-keyframes switchThumbAnimation {
    0% { width: 20px; margin-left: 0px; }
    50% { width: 30px; margin-left: 10px; }
    100% { width: 20px; margin-left: 20px; }
}
@keyframes switchThumbAnimation {
    0% { width: 20px; margin-left: 0px; }
    50% { width: 30px; margin-left: 10px; }
    100% { width: 20px; margin-left: 20px;}
}

@-webkit-keyframes switchThumbAnimationOff {
    0% { width: 20px; margin-left: 20px; }
    50% { width: 30px; margin-left: 00px;}
    100% {  width: 20px; margin-left: 0px; }
}
@keyframes switchThumbAnimationOff {
    0% { width: 20px; margin-left: 20px;}
    50% { width: 30px; margin-left: 00px;}
    100% { width: 20px; margin-left: 0px;}
}

input.cmn-toggle-round:checked + label:before {
  background-color: #EFEFEF;
  background-color: #8ce196;
  background-color: #FFFD6F;
  background-color: #FFFEA5;
  box-shadow: 0 1px 2px rgba(253, 244, 72, 0.2)
}
input.cmn-toggle-round:disabled + label:before,  
input.cmn-toggle-round:disabled + label:after   {
  background-color: #ddd;
}
input.cmn-toggle-round:disabled + label   {
  background-color: #ccc;
}