<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- fucking microsoft bundling doesn't support css fonts relative paths -->
    <link href="bower_components/roboto-fontface/roboto-fontface.css" rel="stylesheet">

    <link href="bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">

    @Styles.Render("~/Assets/styles.css")

</head>
<body class="tabsdemoStaticTabs">

    <div id="outerbox">
        <div id="innerbox">

            @RenderBody()
            
            <script type="text/javascript">
                var globals = { signalrUrl: '@Url.Content("~/signalr")' };
            </script>

            <script src="~/Assets/ng.js"></script>
            <!-- hue -->
            <script src="~/Assets/hue.js"></script>
        </div>
    </div>
</body>
</html>
