@using System.Web.Optimization;

﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Test animation</title>
</head>
<body class="tabsdemoStaticTabs">
    @Styles.Render("~/styles")
    @Scripts.Render("~/ng")
    @Scripts.Render("~/scripts")
    @Scripts.Render("~/app")
    <script>
        //angular.module('app', ['ngMaterial'])
        // .controller('home1Ctrl', function ($scope) {
        //     $scope.data = {
        //         selectedIndex: 0,
        //         secondLocked: true,
        //         secondLabel: "Item Two"
        //     };
        //     $scope.next = function () {
        //         $scope.data.selectedIndex = Math.min($scope.data.selectedIndex + 1, 2);
        //     };
        //     $scope.previous = function () {
        //         $scope.data.selectedIndex = Math.max($scope.data.selectedIndex - 1, 0);
        //     };
        // });
    </script>
    <div ng-controller="home1Ctrl">

        <md-tabs class="md-accent" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
                Item One
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="data.secondLocked">
                {{data.secondLabel}}
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
                Item Three
            </md-tab>
        </md-tabs>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
                View for Item #1<br />
                data.selectedIndex = 0

                <div ng-init="items=[1,2,3,4,5,6,7,8,9]">
                    <input placeholder="Filter Repeat Items..." ng-model="f" />
                    <div ng-repeat="item in items | filter:f" class="repeat-animation">
                        {{ item }}
                    </div>
                </div>
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
                View for {{data.secondLabel}}<br />
                data.selectedIndex = 1
            </div>
            <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
                View for Item #3<br />
                data.selectedIndex = 2
            </div>
        </ng-switch>
        <div class="after-tabs-area" layout="row" layout-sm="column" layout-margin layout-align="left center">
            <md-text-float type="number" label="Selected Index" ng-model="data.selectedIndex"></md-text-float>
            <div flex></div>
            <span>Item Two: </span>
            <md-checkbox ng-model="data.secondLocked" aria-label="Disabled">
                Disabled
            </md-checkbox>
        </div>
    </div>
</body>
</html>